body{
background-color: black;
color: white;
text-align: center;
margin-top: 100px;
margin-right: 180px;
margin-left: 180px;
font-family: monospace;
}

h1{
    font-size: 50px;
    color: green;
    border-bottom: 2px solid yellow;
}


.nav-menu{
    list-style: none;
}

header h3{
    font-size: 25px;
}

#argumentos li{ 
    font-size: 25px;
    text-align: left;
}

#argumentos li:hover{ 
    font-size: 30px;
}

.articulos h2{
    text-align: left;
    color: red;
    font-size: 40px;
}

.articulos p{
    text-align: left;
    font-size: 25px;
}
