body{
background-color: black;
color: white;
text-align: center;
margin-top: 100px;
margin-right: 180px;
margin-left: 180px;
font-family: monospace;
}

h1{
    font-size: 35px;
    color: green;
    border-bottom: 2px solid yellow;
}


.nav-menu{
    list-style: none;

.container{
    width: 90%;
    margin: auto;
    text-align: center;
}
.nav-main{
    font-size: 18px;
    justify-content: center;
    align-items: center;
    height: 70px;
    padding: 20px;
}
.nav-main ul{
    display: flex;
}

.nav-main ul li{
    padding: 10px;
}

.nav-main ul li a:hover{
    border-bottom: 2px solid black;
}
